{% extends "base.html" %}
{% block content %}
<div class="dashboard">
    <h2>Add Asset Record</h2>
    <form method="post" action="{{ url_for('employee.employee_add_asset') }}">
        <label>Asset Type:</label><br>
        <select name="asset_type">
            <option value="Street Light">Street Light</option>
            <option value="Water Pump">Water Pump</option>
            <option value="Road">Road</option>
        </select><br>
        <label>Location:</label><br>
        <input type="text" name="location" required><br>
        <label>Installation Date:</label><br>
        <input type="date" name="installation_date" required><br><br>
        <button type="submit">Add Asset</button>
    </form>
</div>
{% endblock %}
