{% extends "base.html" %}

{% block content %}
<div class="dashboard">
    <h2>Government Monitor Dashboard</h2>
    
    <div class="action-buttons">
        <form action="{{ url_for('govt.govt_add_scheme') }}" method="get">
            <button type="submit" >Add welfare scheme</button>
        </form>
        <form action="{{ url_for('govt.govt_print_statistics') }}" method="post" style="display:inline;">
            <button type="submit" name="which_query" value="Birth_Rate">Birth Rate</button>
        </form>
        <form action="{{ url_for('govt.govt_print_statistics') }}" method="post" style="display:inline;">
            <button type="submit"name="which_query" value="Literacy_Rate">Literacy Rate</button>
        </form>
        <form action="{{ url_for('govt.govt_print_statistics') }}" method="post" style="display:inline;">
            <button type="submit" name="which_query" value="Assets">Assets</button>
        </form>
    </div>
</div>
{% endblock %}
